<div class="box">
  	<article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(@event.creator.email, size: 64, alt: @event.creator.email) %>
          </figure>
        </div>
  		<div class="media-content">
  			<div class="content">
          <p>By: </p>
          <h3 class="title is-3"><%= @event.creator.email %></h3>
  				<small><%= @event.created_at.strftime("Created on %m/%d/%Y at %I:%M%p") %></small><br/><br />
  				<h2 class="title is-2"><%= @event.title %></h2><br />
  				<p class="has-text-justified"><%= @event.ds %></p>
  			</div>
        <% if user_signed_in? && current_user.id == @event.creator_id %>
  			<nav class="level">
  				<div class="level-left is-mobile">
  					<%= link_to edit_event_path(@event), class: "level-item" do %>
  					  <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
  					<% end %>
  				</div>
  			</nav>
        <% end %>
        <% if user_signed_in? && current_user != @event.creator && event_not_expired? %>
          <% if attendee_not_in_event? %>
            <%= button_to 'Attend event', event_path(event_id: @event.id) , method: 'post', class: 'button is-success'%>
          <% else %>
            <%= button_to "Cancel attendance", event_path(event_id: @event.id) , method: 'delete', class: 'button is-danger'%>
          <% end %>
        <% end %>
  		</div>
		<div class="content">
		<p><strong>Attendees:</strong></p>
		<ul>
			<% @event.event_attendances.each do |attendance| %>
				<li><%= attendance.attendee.email %></li>
			<% end %>
		</ul>
		</div>
  	</article>
  </div>
